@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

/*--------------------------*/
.body {
  font: 1rem "Lora";
  background-image: url(../img/back.png); }

.page {
  background: #f1f1f1;
  width: 90%;
  min-height: 100%;
  margin: 0 auto; }

.header {
  background: #232323;
  padding: 8px; }
  .header .header__item {
    display: inline-block;
    color: #f1f1f1; }
  .header .header__item_heading {
    padding-left: 8px;
    font: 1.3rem "Lora";
    font-weight: 500;
    width: 20%; }
  .header .header__item_nav {
    padding-right: 16px;
    width: 79.6%;
    text-align: right; }
  .header .header__nav {
    display: inline-block; }
  .header .header__nav__item {
    display: inline-block;
    margin: 16px; }

.nav .nav__item {
  color: #f1f1f1;
  display: inline-block; }
  .nav .nav__item:hover {
    color: #fa2244; }

.content {
  padding: 16px; }
  .content .nav__chapter {
    background: #113353;
    padding: 8px;
    margin-bottom: 16px; }
    .content .nav__chapter .nav_chapter__heading {
      font: 1.35em "Lora";
      color: #f1f1f1;
      margin-bottom: 6px; }
    .content .nav__chapter .nav_chapter__item {
      display: block; }
      .content .nav__chapter .nav_chapter__item:hover {
        color: #eeaa22; }
  .content .section .article {
    margin: 8px 0; }
    .content .section .article .article__heading {
      font: 1.5rem "Lora";
      weight: 500; }
    .content .section .article .article__date {
      font: 0.9rem "Lora";
      color: #f1f1f1;
      background: #232323;
      display: inline-block;
      padding: 8px; }
    .content .section .article .article__content {
      font: 1.1rem "Lora";
      margin-top: 8px; }
      .content .section .article .article__content .article__content_text {
        margin: 16px 0px; }
      .content .section .article .article__content .article__content_censor {
        color: #ea3111;
        display: inline; }

.footer {
  background: #232323;
  padding: 8px; }
  .footer .footer__item {
    display: inline-block;
    color: #f1f1f1; }
  .footer .footer__item_heading {
    padding-left: 8px;
    font: 1.3rem "Lora";
    font-weight: 500;
    width: 20%; }
  .footer .footer__item_nav {
    padding-right: 16px;
    width: 79.6%;
    text-align: right; }
  .footer .footer__nav {
    display: inline-block; }
  .footer .footer__nav__item {
    display: inline-block;
    margin: 16px; }

@media screen and (max-width: 1030px) {
  .page {
    width: 100%; }
  .header__item {
    display: block;
    width: 100%; }
  .header .header__item_nav {
    padding-right: 0px;
    width: 100%;
    text-align: center; }
  .header .header__item_heading {
    padding-left: 0px;
    font: 2rem "Lora";
    font-weight: normal;
    font-weight: 500;
    width: 100%;
    text-align: center; }
  .nav__chapter p {
    text-align: center; }
  .nav__chapter .nav_chapter__item {
    text-align: center; }
  .article__heading {
    font: 1rem "Lora";
    weight: 500;
    text-align: center;
    margin-top: 36px; }
    .article__heading:first-child {
      margin-top: 0px; }
  .article__date {
    width: 94%;
    text-align: center;
    margin-left: 2%; }
  .article__date {
    padding: 16px; }
  .content .section .article .article__content .article__content_text {
    margin: 2%; }
  .footer .footer__nav__item:first-child {
    margin-left: 8px; }
  .footer .footer__item_heading {
    display: block;
    width: 100%; }
  .footer .footer__item_nav {
    padding-right: 0px;
    width: 100%;
    text-align: left;
    display: block; } }

@media screen and (max-width: 620px) {
  .footer__item {
    display: block;
    width: 100%; }
  .footer .footer__item_nav {
    padding-right: 0px;
    width: 100%;
    text-align: center; }
  .footer .footer__item_heading {
    padding-left: 0px;
    font: 2rem "Lora";
    font-weight: normal;
    font-weight: 500;
    width: 100%;
    text-align: center; } }
